* {
  font-family: Montserrat Light, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.font-bold {
  font-family: 'Montserrat Regular';
}

/* página de texto */

.contact-overlay {
  background-color: rgba(0, 0, 0, 0.664);
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 1rem;
}

.course-page {
  background: url("/public/media/Dioney_Celebrante-dark.jpg") no-repeat center center fixed;
  height: auto;
  background-size: cover;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.about-page {
  background: url("/public/media/bg-celebrante.jpg") no-repeat center center fixed;
  height: auto;
  background-size: cover;
  background-attachment: fixed
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel-caption h5 {
  color: white;
}

.carousel-caption .slide-divider {
  display: none;
}

.image-center-container {
  display: flex;
  justify-content: center;
}

/* section 1 */
.img-dioney {
  max-width: 570px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  filter: drop-shadow(-12px -20px 15px white);
}

.img-bolt {
  max-height: 50px;
  margin-right: 14px;
}

.countdown {
  font-size: 2rem;
}

/* section 2 */
.square {
  width: 90%;
  max-width: 430px;
  height: auto;
  aspect-ratio: 1;
  background: transparent;
  border: 2px solid;
  border-image: linear-gradient(40deg, #121418, #c3aa84, #c3aa84, #121418) 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 768px) {
  .square {
    width: 100%;
    max-width: 300px;
    padding: 15px;
  }

  .number-price {
    font-size: 1.2rem;
  }

  .number-price2 {
    font-size: 0.9rem;
  }

  .btn-custom {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .logo-price {
    max-width: 70%;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-price {
  max-width: 56%;
  height: auto;
}

.number-old-price {
  font-size: 2.3rem;
  color: #ee0404;
  text-align: center;
}

.number-price {
  font-size: 2.3rem;
  color: #64DB2D;
  text-align: center;
}

.number-price2 {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}

.img-seguro {
  max-width: 100%;
  height: auto;
}

/* whatsapp group */
.bglight-wpp {
  background-color: #f5eee6;
}


/* about teacher */
.txt-about {
  font-size: 1.3rem;
}

.img-dioney2 {
  max-width: 450px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.intro {
  flex: 1;
}

.celebrante-text {
  font-size: 3.5rem;
  color: #ffffff;
  text-align: justify;
  margin-bottom: 20px;
}

.row-cols-1 .col {
  margin-bottom: 0;
}

.row-cols-md-4 .col {
  margin-bottom: 30px;
}

@media (max-width: 576px) {

  .celebrante-text {
    font-size: 2.5rem;
    padding: 12px 24px;
    text-align: center;
  }
}


/* carousel */
.carousel {
  max-width: auto;
  margin: 0 auto;
}

.carousel img {
  cursor: pointer;
}

.img-thumbnail {
  border-radius: 25px;
}

@media (max-width: 576px) {
  .carousel .row .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.plittle {
  font-size: 0.8rem;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1000px;
  /* padding: 10px; */
  width: 60px;
  height: 60px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  padding: 10px;
}

.carousel-control-prev-icon:before {
  content: "";
  display: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.carousel-control-next-icon:before {
  content: "";
  display: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

ol {
  list-style: none;
}

html,
body {
  height: 100%;
  background-color: #121418;
}

#wrap {
  min-height: 100%;
}

/* navbar */
.nav {
  background: url("/public/media/areias.png") no-repeat center center;
  padding: 5%;
  margin-bottom: 3%;
  background-size: cover;
}

ul {
  list-style: none;
}

.text-gold {
  color: #c3aa84;
}

.text-golden {
  color: #c3aa84;
}

.text-gray {
  color: #979797;
}

.text-gold-slide {
  color: #c3aa84 !important;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* btn-custom */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-custom,
.btn-custom:focus {
  font-size: 1rem;
  padding: 15px 40px;
  font-weight: bold;
  background-color: #c3aa84;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover,
.btn-custom:visited,
.btn-custom:active {
  background-color: #978364 !important;
  color: #fff !important;
}

.btn-custom:active {
  background-color: #978364 !important;
  color: #fff !important;
}

.btnc2 {
  background-color: #2ead43;
  font-size: 18px;
  padding: 12px 30px;
}

.btnc2:hover,
.btnc2:active,
.btnc2:focus {
  font-size: 18px;
  padding: 12px 30px;
}

.accordion-header .accordion-button {
  color: #000 !important;
  font-weight: bold;
}

.accordion-button {
  background-color: #efefef;
}

.accordion-button:not(.collapsed) {
  background-color: #efefef;
  box-shadow: none;
}

.accordion-button {
  box-shadow: none !important;
}

.bc3,
.bc3:hover {
  font-size: 20px;
  padding: 6px 45px;
  width: auto !important;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.bcp2,
.bcp2:hover {
  font-weight: bold;
  font-size: 22px;
  padding: 10px 35px;
  background-color: #c3aa84;
  color: #fff;
  border: none;
}

.bc4,
.bc4:hover {
  font-weight: bold;
  font-size: 22px;
  padding: 10px 35px;
  background-color: #c3aa84;
  color: #fff;
  border: none;
}

.bc4:hover,
.bc4:focus,
.bc4:active {
  background-color: #2ead43;
  color: #fff;
}

.bc5,
.bc5:hover {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 35px;
  background-color: #c3aa84;
  color: #fff;
  border: none;
}

.bc5:hover,
.bc5:focus,
.bc5:active {
  background-color: #978364;
  color: #fff;
}

.bc6,
.bc6:hover {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 70px;
  background-color: #c3aa84;
  color: #fff;
  border: none;
}

.bc6:hover,
.bc6:focus,
.bc6:active {
  background-color: #978364;
  color: #fff;
}

.bc7,
.bc7:hover {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 70px;
  background-color: #c3aa84;
  color: #fff;
  border: none;
}

.bc7:hover,
.bc7:focus,
.bc7:active {
  background-color: #978364;
  color: #fff;
}

/* btn media queries */
@media (max-width: 768px) {
  .btn-custom {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 1000px;
    /* padding: 10px; */
    width: 45px;
    height: 45px;
  }

  .text-gold-slide {
    font-size: 16px;
    margin: 0;
  }
}

@media (max-width: 576px) {

  .btn-custom,
  .btn-custom:active,
  .btn-custom:focus,
  .btn-custom:hover {
    font-size: 21px;
    padding: 12px 24px;
  }
}

/* icons */

.about-icon {
  width: 15%;
}

@media (max-width: 768px) {
  .about-icon {
    width: 20%;
  }
}

@media (max-width: 576px) {
  .about-icon {
    width: 20%;
  }

  .bcwpp {
    width: 100% !important;
  }
}

/* footer */

footer {
  position: relative;
  background-color: #212529;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 40px;
  color: #c3aa84;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.footer-content h3 {
  color: #c3aa84;
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-content p {
  margin: 5px;
}

.footer-bottom {
  background: #000;
  padding: 10px;
  text-align: center;
  color: #ddd
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: #c3aa84;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #c3aa84;
  padding: 5px;
}

.socials a {
  font-size: 24px;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover {
  color: #aa9371;
}

.text-success {
  color: #c3aa84 !important;
}

.card-celebrante h4 {
  font-weight: normal;
}

.bcwpp {
  background-color: #238533;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wppcointainer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 576px) {
  .celebrante-bt-fix {
    width: 100% !important;
  }
}